body{
    background: #603bbb;
  }
  .logoutf {
      border: none;
      outline: none;
      width: 100%;
      padding: 15px 0;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px;
      background: #603bbb;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
    }
    .login {
      width: 100%;
      min-height: 100vh;
      padding: 0 20px;
      /* background-image: url("https://64.media.tumblr.com/95de14d4613e8497d4140b0664d167f7/tumblr_n29t6wNC9L1rsdpaso1_500.gifv"); */
      background-image:url("https://media.giphy.com/media/ITRemFlr5tS39AzQUL/giphy-downsized-large.gif?cid=790b76110fd2f2e8996757c0168b66b63db3460d79404994&rid=giphy-downsized-large.gif&ct=g");   
      /* background-size: cover; */
      background-size:100% 100%;  
      background-repeat:no-repeat;
      background-color: #fff;
      display: flex;
      font-family: 'Roboto', sans-serif;
    }
    
    .login .loginContainer {
      font-family: 'Roboto', sans-serif;
      padding: 60px;
      margin: auto;
      width: 100%;
      max-width: 520px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: radial-gradient(
        ellipse at left bottom,
        rgba(22, 24, 47, 1) 50%,
        rgba(38, 20, 72, 0.9) 80%,
        rgba(17, 27, 75, 0.9) 100%
      );
      box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    }
    
    .login .loginContainer label {
      font-family: 'Roboto', sans-serif;
      color: white;
      margin: 14px 0;
      display: block;
      font-size: 22px;
      line-height: 1;
    }
    .login .loginContainer label {
      font-family: 'Roboto', sans-serif;
      color: white;
      margin: 14px 0;
      display: block;
      font-size: 22px;
      line-height: 1;
    }
    .login .loginContainer input {
      font-family: 'Roboto', sans-serif;
      width: 100%;
      border: none;
      outline: none;
      font-size: 19px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      letter-spacing: 1px;
    }
    .login .loginContainer .btnContainer {
      font-family: 'Roboto', sans-serif;
      width: 100%;
      padding: 24px 0;
    }
  
  .login .loginContainer .btnContainer p {
      font-family: 'Roboto', sans-serif;
      margin: 14px 0 0 0;
      text-align: right;
      color: #fff;
    }
    .login .loginContainer .btnContainer p span {
      font-family: 'Roboto', sans-serif;
      color: yellow;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-left: 5px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
    }
    .login .loginContainer .btnContainer p span:hover {
      color: red;
    }
    
    .login .loginContainer .errorMsg {
      color: red;
      font-size: 16px;
    }